* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/img/bg_texture.png);
}
main {
    position:static ;
    width: 960px;
    margin: 0 auto;

}

header {
    position: fixed;
    align-items: top;
    width: 100%;
    height: 70px;
    background-color: #0067dc;
   z-index: 100;
   
    justify-content: space-between;

}

.area-logo {
    margin-left: 10%;
    float: left;
  
}

.area-logo img {
    height: 80px;
    
}
/* nav{
    display: flex;
    justify-content: end;
} */
.menu {
    margin-top: 1%;
    float: right;
    margin-right: 10% ;
    flex: 4;
    justify-content: flex-end;
}



/* li */
/* ul li */
/* .menu nav ul li { */
/* .menu nav li { */
.item {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    text-transform:uppercase;
    color: white;
    display: inline-block;
}

.menu nav li:hover {
    text-decoration: underline;
    color: red;
}


.banner {

    padding-top: 50px;
    background-position-y: 90px;
    background-position-x: center;
    background-size: 600px;
    background-attachment: fixed;
    height: 570px;
    background-image: url(/img/banner.png);
    background-repeat: no-repeat;
}
section {
    
    background-color: white;
}

.titulo {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    margin-bottom: 10px;

}

.history .texto {
    padding: 25px;
    text-align: justify;
}

.history .texto img {
    float: right;
    padding: 20px;
    width: 150px;
}

.games {
    background-image: url(/img/background.jpeg);
    background-attachment: fixed;
    background-size: 100%;
    height: 850px;
    padding: 20px;    
}

.games .titulo {
    color: #0067dc;
    padding: 30px;
}

.games-texto {
    
    position: relative;
}

.games .texto1,
.games .texto2,
.games .texto3,
.games .texto4 {
    color: black;
    width: 50%;
    position: absolute;
    
}

.games .texto1 {
    right: 0px;
}

.games .texto2 {
    top: 130px;
    left: 0px;
}

.games .texto3 {
    top: 280px;
    right: 0px;
}

.games .texto4 {
    top: 420px;
    left: 0px;
}


.texto1 img,
.texto2 img,
.texto4 img {
    
    width: 50%;
}

.texto3 img {
    width: 35%;
}


footer {
    
    background-repeat: no-repeat;
    height: 380px;
    width: 100%;
   
}